In [1]:
import pandas as pd
import numpy as np

import json
import os

In [19]:
path = os.getcwd()
path_data = path + '/data/'

data_source = 'data_covid.json'

In [113]:
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
df = pd.DataFrame(data_results)
df.columns = df.columns.str.strip().str.lower()
df.columns

column = ["suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
column_result = ['id','status_name','status_detail','status']

df= df[column]
df = df[:1]

df_tr = []
for i in df:
    df_tr.append(i)

## cara sendiri
df_tr = pd.DataFrame(df_tr, columns=['status'])
df_tr = df_tr.sort_values('status')
df_tr['id'] = np.arange(1,df_tr.shape[0]+1)
df_tr[['status_name','status_detail']] = df_tr['status'].str.split('_', n = 1,expand=True)
df_tr = df_tr[column_result]

## cara tutuor
#df = df.melt(var_name='status', value_name='total')
#df = df.drop_duplicates('status').sort_values('status')

#df['id'] = np.arange(1,df.shape[0]+1)
#df[['status_name', 'status_detail']] = df['status'].str.split('_', n=1, expand=True)
#df = df[column_result]
#df = df.drop_duplicates(column)
#df.columns = column_result
df_tr
#df_tr.dtypes

    id   status_name status_detail                    status
2    1  closecontact   dikarantina  closecontact_dikarantina
3    2  closecontact     discarded    closecontact_discarded
9    3  closecontact     meninggal    closecontact_meninggal
7    4  confirmation     meninggal    confirmation_meninggal
6    5  confirmation        sembuh       confirmation_sembuh
4    6      probable     diisolasi        probable_diisolasi
5    7      probable     discarded        probable_discarded
10   8      probable     meninggal        probable_meninggal
0    9       suspect     diisolasi         suspect_diisolasi
1   10       suspect     discarded         suspect_discarded
8   11       suspect     meninggal         suspect_meninggal

In [6]:
from sqlalchemy import create_engine


class MySQL:
  def __init__(self, cfg):
    self.host = cfg['host']
    self.port = cfg['port']
    self.username = cfg['username']
    self.password = cfg['password']
    self.database = cfg['database']

  def connect(self):
    engine = create_engine('mysql+pymysql://{}:{}@{}:{}/{}'.format(self.username, self.password, self.host, self.port, self.database))
    engine_conn = engine.connect()
    print("Connect Engine MySQL")
    return engine, engine_conn

In [5]:
pip install sqlalchemy

Collecting sqlalchemyNote: you may need to restart the kernel to use updated packages.
  Downloading SQLAlchemy-1.4.35-cp310-cp310-win_amd64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp310-cp310-win_amd64.whl (101 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.35

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [12]:
from sqlalchemy import create_engine
from psycopg2 import connect
from psycopg2.extras import execute_values

class PostgreSQL:
    def __init__(self,cfg):
        self.host = cfg['host']
        self.port = cfg['port']
        self.username = cfg['username']
        self.password = cfg['password']
        self.database = cfg['database']
    
    def connection(self):
       if conn_type == 'engine':
           engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(self.username, self.password, self.host, self.port, self.database))
           conn_engine = engine.connect()
           print('connect engine Postgresql')
           return engine, conn_engine
       else:
           conn = connect(
                user = self.username,
                password = self.password,
                host = self.host,
                port = self.port,
                database = self.database
            )
           cursor = conn.cursor()
           print('connect cursor Postgresql')
           return conn,cursor

In [11]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp310-cp310-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [21]:
from sqlalchemy import create_engine
from psycopg2 import connect
from psycopg2.extras import execute_values

class PostgreSQL:
    def __init__(self,cfg):
        self.host = cfg['host']
        self.port = cfg['port']
        self.username = cfg['username']
        self.password = cfg['password']
        self.database = cfg['database']
    
    def connect(self):
       if conn_type == 'engine':
           engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(self.username, self.password, self.host, self.port, self.database))
           conn_engine = engine.connect()
           print('connect engine Postgresql')
           return engine, conn_engine
       else:
           conn = connect(
                user = self.username,
                password = self.password,
                host = self.host,
                port = self.port,
                database = self.database
            )
           cursor = conn.cursor()
           print('connect cursor Postgresql')
           return conn,cursor

In [169]:
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
df = pd.DataFrame(data_results)
df.columns = df.columns.str.strip().str.lower()
df.columns


def insert_dim_case(data):
    column = ["suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
    column_result = ['id','status_name','status_detail','status']

    data = data[column]
    data = data[:1]

    df_tr = []
    for i in data:
        df_tr.append(i)

    df_tr = pd.DataFrame(df_tr,columns=['status'])
    df_tr = df_tr.sort_values('status')
    df_tr['id'] = np.arange(1, df_tr.shape[0]+1)
    df_tr[['status_name', 'status_detail']] = df_tr['status'].str.split('_', n=1,expand=True)
    df_tr = df_tr[column_result]
    
    return df_tr

In [171]:
insert_dim_case(data)

    id   status_name status_detail                    status
2    1  closecontact   dikarantina  closecontact_dikarantina
3    2  closecontact     discarded    closecontact_discarded
9    3  closecontact     meninggal    closecontact_meninggal
7    4  confirmation     meninggal    confirmation_meninggal
6    5  confirmation        sembuh       confirmation_sembuh
4    6      probable     diisolasi        probable_diisolasi
5    7      probable     discarded        probable_discarded
10   8      probable     meninggal        probable_meninggal
0    9       suspect     diisolasi         suspect_diisolasi
1   10       suspect     discarded         suspect_discarded
8   11       suspect     meninggal         suspect_meninggal

In [153]:
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
df = pd.DataFrame(data_results)
df.columns = df.columns.str.strip().str.lower()

column = ["tanggal", "kode_prov", "suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
column_result = ['date','province_id','status','total']

df = df[column]
df = df.melt(id_vars=["tanggal", "kode_prov"], var_name="status", value_name="total").sort_values(["tanggal", "kode_prov", "status"])
df = df.groupby(by=['tanggal', 'kode_prov', 'status']).sum()
df = df.reset_index()

df.columns = df[column_result]
df['id'] = np.arange(1,df.shape[0]+1)

dim_case = dim_case.rename({'id':'case_id'},axis = 1)
df = pd.merge(df,dim_case,how = 'inner',on='status')

df = df[['id','province_id','case_id','date','total']]


df

KeyError: "['date', 'province_id'] not in index"

In [165]:
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
data = pd.DataFrame(data_results)
data.columns = data.columns.str.strip().str.lower()

column = ["suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
column_result = ['id','status_name','status_detail','status']
#data
data = data[column]
data = data[:1]

df_tr = []
for i in data:
    df_tr.append(i)

df_tr = pd.DataFrame(df_tr,columns=['status'])
df_tr = df_tr.sort_values('status')
df_tr['id'] = np.arange(1, df_tr.shape[0]+1)
df_tr[['status_name', 'status_detail']] = df_tr['status'].str.split('_', n=1,expand=True)
df_tr = df_tr[column_result]

#data
df_tr

    id   status_name status_detail                    status
2    1  closecontact   dikarantina  closecontact_dikarantina
3    2  closecontact     discarded    closecontact_discarded
9    3  closecontact     meninggal    closecontact_meninggal
7    4  confirmation     meninggal    confirmation_meninggal
6    5  confirmation        sembuh       confirmation_sembuh
4    6      probable     diisolasi        probable_diisolasi
5    7      probable     discarded        probable_discarded
10   8      probable     meninggal        probable_meninggal
0    9       suspect     diisolasi         suspect_diisolasi
1   10       suspect     discarded         suspect_discarded
8   11       suspect     meninggal         suspect_meninggal

In [166]:
def insert_fact_province_daily(data, dim_case):
    
    with open(path_data + f'{data_source}') as data2:
        data3 = json.load(data2)

    data_results = []
    for i in data3['data']['content']:
        data_results.append(i)
    
    data = pd.DataFrame(data_results)
    data.columns = data.columns.str.strip().str.lower()
    
    
    column_start = ["tanggal", "kode_prov", "suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
    column_end = ['date', 'province_id', 'status', 'total']

    # AGGREGATE
    data = data[column_start]
    data = data.melt(id_vars=["tanggal", "kode_prov"], var_name="status", value_name="total").sort_values(["tanggal", "kode_prov", "status"])
    data = data.groupby(by=['tanggal', 'kode_prov', 'status']).sum()
    data = data.reset_index()

    # REFORMAT
    data.columns = column_end
    data['id'] = np.arange(1, data.shape[0]+1)

    # MERGE
    dim_case = dim_case.rename({'id': 'case_id'}, axis=1)
    data = pd.merge(data, dim_case, how='inner', on='status')
    
    data = data[['id', 'province_id', 'case_id', 'date', 'total']]
    
    return data

In [189]:
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
data = pd.DataFrame(data_results)
data.columns = data.columns.str.strip().str.lower()
    
    
column_start = ["tanggal", "kode_prov", "suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
column_end = ['date', 'province_id', 'status', 'total']

    # AGGREGATE
data = data[column_start]
data = data.melt(id_vars=["tanggal", "kode_prov"], var_name="status", value_name="total").sort_values(["tanggal", "kode_prov", "status"])
data = data.groupby(by=['tanggal', 'kode_prov', 'status']).sum()
data = data.reset_index()

data.columns = column_end
data['id'] = np.arange(1,data.shape[0]+1)
data

            date province_id                    status  total    id
0     2020-08-05          32  closecontact_dikarantina   1815     1
1     2020-08-05          32    closecontact_discarded  23782     2
2     2020-08-05          32    closecontact_meninggal      0     3
3     2020-08-05          32    confirmation_meninggal      0     4
4     2020-08-05          32       confirmation_sembuh      0     5
...          ...         ...                       ...    ...   ...
6760  2022-04-11          32        probable_discarded   3999  6761
6761  2022-04-11          32        probable_meninggal   2135  6762
6762  2022-04-11          32         suspect_diisolasi      0  6763
6763  2022-04-11          32         suspect_discarded      0  6764
6764  2022-04-11          32         suspect_meninggal      0  6765

[6765 rows x 5 columns]

In [208]:
## insert fact province month
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
data = pd.DataFrame(data_results)
data.columns = data.columns.str.strip().str.lower()

column_start = ["tanggal", "kode_prov", "suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
column_result = ['month', 'province_id', 'status', 'total']

data = data[column_start]
data['tanggal'] = data['tanggal'].apply(lambda x: x[:7])
data = data.melt(id_vars = ['tanggal', 'kode_prov'], var_name = 'status', value_name='total').sort_values(['tanggal','kode_prov','status'])
data = data.groupby(by = ['tanggal', 'kode_prov','status']).sum()
data = data.reset_index()

data.columns = column_end
data['id'] = np.arange(1,data.shape[0]+1)

data

       month province_id                    status  total   id
0    2020-08          32  closecontact_dikarantina  10195    1
1    2020-08          32    closecontact_discarded  30488    2
2    2020-08          32    closecontact_meninggal      0    3
3    2020-08          32    confirmation_meninggal    266    4
4    2020-08          32       confirmation_sembuh   4520    5
..       ...         ...                       ...    ...  ...
226  2022-04          32        probable_discarded  43989  227
227  2022-04          32        probable_meninggal  23485  228
228  2022-04          32         suspect_diisolasi      0  229
229  2022-04          32         suspect_discarded      0  230
230  2022-04          32         suspect_meninggal      0  231

[231 rows x 5 columns]

In [216]:
## insert fact province year
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
data = pd.DataFrame(data_results)
data.columns = data.columns.str.strip().str.lower()

column = ["tanggal", "kode_prov", "suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
column_results = ['year', 'province_id', 'status', 'total']

data = data[column]
data['tanggal'] = data['tanggal'].apply(lambda x:x[:4])
data = data.melt(id_vars = ['tanggal', 'kode_prov'], var_name = 'status', value_name = 'total').sort_values(['tanggal', 'kode_prov','status'])
data = data.groupby(by = ['tanggal', 'kode_prov', 'status']).sum()
data = data.reset_index()

data.columns = column_results
data['id'] = np.arange(1,data.shape[0]+1)    

data

    year province_id                    status    total  id
0   2020          32  closecontact_dikarantina    55133   1
1   2020          32    closecontact_discarded   162890   2
2   2020          32    closecontact_meninggal        0   3
3   2020          32    confirmation_meninggal     1163   4
4   2020          32       confirmation_sembuh    68645   5
5   2020          32        probable_diisolasi    15039   6
6   2020          32        probable_discarded    97644   7
7   2020          32        probable_meninggal   106694   8
8   2020          32         suspect_diisolasi    35463   9
9   2020          32         suspect_discarded   100562  10
10  2020          32         suspect_meninggal     3125  11
11  2021          32  closecontact_dikarantina    72689  12
12  2021          32    closecontact_discarded   423166  13
13  2021          32    closecontact_meninggal        0  14
14  2021          32    confirmation_meninggal    13584  15
15  2021          32       confirmation_sembuh   622761  16
16  2021          32        probable_diisolasi    80132  17
17  2021          32        probable_discarded  1132586  18
18  2021          32        probable_meninggal   634299  19
19  2021          32         suspect_diisolasi    23972  20
20  2021          32         suspect_discarded   107756  21
21  2021          32         suspect_meninggal        0  22
22  2022          32  closecontact_dikarantina        0  23
23  2022          32    closecontact_discarded        0  24
24  2022          32    closecontact_meninggal        0  25
25  2022          32    confirmation_meninggal      932  26
26  2022          32       confirmation_sembuh   376999  27
27  2022          32        probable_diisolasi    27876  28
28  2022          32        probable_discarded   403899  29
29  2022          32        probable_meninggal   215635  30
30  2022          32         suspect_diisolasi        0  31
31  2022          32         suspect_discarded        0  32
32  2022          32         suspect_meninggal        0  33

In [221]:
## insert fact district month
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
data = pd.DataFrame(data_results)
data.columns = data.columns.str.strip().str.lower()

column = ["tanggal", "kode_kab", "suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
column_results = ['month', 'district_id', 'status', 'total']

data = data[column]
data['tanggal'] = data['tanggal'].apply(lambda x :x[:7])
data = data.melt(id_vars = ['tanggal', 'kode_kab'], var_name = 'status', value_name = 'total').sort_values(['tanggal','kode_kab','status'])
data = data.groupby(by = ['tanggal', 'kode_kab', 'status']).sum()
data = data.reset_index()



data

      tanggal kode_kab                    status  total
0     2020-08     3201  closecontact_dikarantina      0
1     2020-08     3201    closecontact_discarded      0
2     2020-08     3201    closecontact_meninggal      0
3     2020-08     3201    confirmation_meninggal     13
4     2020-08     3201       confirmation_sembuh    383
...       ...      ...                       ...    ...
6232  2022-04     3279        probable_discarded    176
6233  2022-04     3279        probable_meninggal    561
6234  2022-04     3279         suspect_diisolasi      0
6235  2022-04     3279         suspect_discarded      0
6236  2022-04     3279         suspect_meninggal      0

[6237 rows x 4 columns]

In [222]:
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
data = pd.DataFrame(data_results)
data.columns = data.columns.str.strip().str.lower()
data

,tanggal,kode_prov,nama_prov,kode_kab,nama_kab,suspect,closecontact,probable,suspect_diisolasi,suspect_discarded,closecontact_dikarantina,closecontact_discarded,probable_diisolasi,probable_discarded,confirmation,confirmation_sembuh,confirmation_meninggal,suspect_meninggal,closecontact_meninggal,probable_meninggal
0,2020-08-05,32,Jawa Barat,3204,Kabupaten Bandung,2210,274,26,31,2179,0,274,0,0,0,0,0,0,0,26
1,2020-08-05,32,Jawa Barat,3217,Kabupaten Bandung Barat,776,534,7,3,773,72,462,0,0,0,0,0,0,0,7
2,2020-08-05,32,Jawa Barat,3216,Kabupaten Bekasi,5536,2127,33,4001,1535,135,1992,1,0,0,0,0,0,0,32
3,2020-08-05,32,Jawa Barat,3201,Kabupaten Bogor,0,0,163,0,0,0,0,0,0,0,0,0,0,0,163
4,2020-08-05,32,Jawa Barat,3207,Kabupaten Ciamis,2075,1295,3,2075,0,3,1292,0,3,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16600,2022-04-11,32,Jawa Barat,3277,Kota Cimahi,0,0,35,0,0,0,0,0,0,27,121,1,0,0,35
16601,2022-04-11,32,Jawa Barat,3274,Kota Cirebon,0,0,2,0,0,0,0,0,1,1,3,0,0,0,1
16602,2022-04-11,32,Jawa Barat,3276,Kota Depok,0,0,32,0,0,0,0,25,0,37,200,0,0,0,7
16603,2022-04-11,32,Jawa Barat,3272,Kota Sukabumi,0,0,32,0,0,0,0,0,3,2,2,0,0,0,29
16604,2022-04-11,32,Jawa Barat,3278,Kota Tasikmalaya,0,0,155,0,0,0,0,4,99,2,34,5,0,0,52