In [1]:
import pandas as pd
import numpy as np

import json
import os

In [19]:
path = os.getcwd()
path_data = path + '/data/'

data_source = 'data_covid.json'

In [113]:
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
df = pd.DataFrame(data_results)
df.columns = df.columns.str.strip().str.lower()
df.columns

column = ["suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
column_result = ['id','status_name','status_detail','status']

df= df[column]
df = df[:1]

df_tr = []
for i in df:
    df_tr.append(i)

## cara sendiri
df_tr = pd.DataFrame(df_tr, columns=['status'])
df_tr = df_tr.sort_values('status')
df_tr['id'] = np.arange(1,df_tr.shape[0]+1)
df_tr[['status_name','status_detail']] = df_tr['status'].str.split('_', n = 1,expand=True)
df_tr = df_tr[column_result]

## cara tutuor
#df = df.melt(var_name='status', value_name='total')
#df = df.drop_duplicates('status').sort_values('status')

#df['id'] = np.arange(1,df.shape[0]+1)
#df[['status_name', 'status_detail']] = df['status'].str.split('_', n=1, expand=True)
#df = df[column_result]
#df = df.drop_duplicates(column)
#df.columns = column_result
df_tr
#df_tr.dtypes

    id   status_name status_detail                    status
2    1  closecontact   dikarantina  closecontact_dikarantina
3    2  closecontact     discarded    closecontact_discarded
9    3  closecontact     meninggal    closecontact_meninggal
7    4  confirmation     meninggal    confirmation_meninggal
6    5  confirmation        sembuh       confirmation_sembuh
4    6      probable     diisolasi        probable_diisolasi
5    7      probable     discarded        probable_discarded
10   8      probable     meninggal        probable_meninggal
0    9       suspect     diisolasi         suspect_diisolasi
1   10       suspect     discarded         suspect_discarded
8   11       suspect     meninggal         suspect_meninggal

In [6]:
from sqlalchemy import create_engine


class MySQL:
  def __init__(self, cfg):
    self.host = cfg['host']
    self.port = cfg['port']
    self.username = cfg['username']
    self.password = cfg['password']
    self.database = cfg['database']

  def connect(self):
    engine = create_engine('mysql+pymysql://{}:{}@{}:{}/{}'.format(self.username, self.password, self.host, self.port, self.database))
    engine_conn = engine.connect()
    print("Connect Engine MySQL")
    return engine, engine_conn

In [5]:
pip install sqlalchemy

Collecting sqlalchemyNote: you may need to restart the kernel to use updated packages.
  Downloading SQLAlchemy-1.4.35-cp310-cp310-win_amd64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp310-cp310-win_amd64.whl (101 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.35

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [12]:
from sqlalchemy import create_engine
from psycopg2 import connect
from psycopg2.extras import execute_values

class PostgreSQL:
    def __init__(self,cfg):
        self.host = cfg['host']
        self.port = cfg['port']
        self.username = cfg['username']
        self.password = cfg['password']
        self.database = cfg['database']
    
    def connection(self):
       if conn_type == 'engine':
           engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(self.username, self.password, self.host, self.port, self.database))
           conn_engine = engine.connect()
           print('connect engine Postgresql')
           return engine, conn_engine
       else:
           conn = connect(
                user = self.username,
                password = self.password,
                host = self.host,
                port = self.port,
                database = self.database
            )
           cursor = conn.cursor()
           print('connect cursor Postgresql')
           return conn,cursor

In [11]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp310-cp310-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [21]:
from sqlalchemy import create_engine
from psycopg2 import connect
from psycopg2.extras import execute_values

class PostgreSQL:
    def __init__(self,cfg):
        self.host = cfg['host']
        self.port = cfg['port']
        self.username = cfg['username']
        self.password = cfg['password']
        self.database = cfg['database']
    
    def connect(self):
       if conn_type == 'engine':
           engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(self.username, self.password, self.host, self.port, self.database))
           conn_engine = engine.connect()
           print('connect engine Postgresql')
           return engine, conn_engine
       else:
           conn = connect(
                user = self.username,
                password = self.password,
                host = self.host,
                port = self.port,
                database = self.database
            )
           cursor = conn.cursor()
           print('connect cursor Postgresql')
           return conn,cursor

In [114]:
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
df = pd.DataFrame(data_results)
df.columns = df.columns.str.strip().str.lower()
df.columns


def insert_dim_case(data,df_tr):
    column = ["suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
    column_result = ['id','status_name','status_detail','status']

    data = data[column]
    data = data[:1]

    df_tr = []
    for i in data:
        df_tr.append(i)

    df_tr = pd.DataFrame(df_tr,columns=['status'])
    df_tr = df_tr.sort_values('status')
    df_tr['id'] = np.arange(1, df_tr.shape[0]+1)
    df_tr[['status_name', 'status_detail']] = df_tr['status'].str.split('_', n=1,expand=True)
    df_tr = df_tr[column_result]
    
    return data,df_tr

In [118]:
insert_dim_case(data,df_tr)

(   suspect_diisolasi  suspect_discarded  closecontact_dikarantina  \
 0                 31               2179                         0

    closecontact_discarded  probable_diisolasi  probable_discarded  \
 0                     274                   0                   0

    confirmation_sembuh  confirmation_meninggal  suspect_meninggal  \
 0                    0                       0                  0

    closecontact_meninggal  probable_meninggal
 0                       0                  26  ,
     id   status_name status_detail                    status
 2    1  closecontact   dikarantina  closecontact_dikarantina
 3    2  closecontact     discarded    closecontact_discarded
 9    3  closecontact     meninggal    closecontact_meninggal
 7    4  confirmation     meninggal    confirmation_meninggal
 6    5  confirmation        sembuh       confirmation_sembuh
 4    6      probable     diisolasi        probable_diisolasi
 5    7      probable     discarded        probable_discarded
 10   8      probable     meninggal        probable_meninggal
 0    9       suspect     diisolasi         suspect_diisolasi
 1   10       suspect     discarded         suspect_discarded
 8   11       suspect     meninggal         suspect_meninggal)

In [139]:
with open(path_data + f'{data_source}') as data2:
    data3 = json.load(data2)

data_results = []
for i in data3['data']['content']:
    data_results.append(i)
    
df = pd.DataFrame(data_results)
df.columns = df.columns.str.strip().str.lower()

column = ["tanggal", "kode_prov", "suspect_diisolasi", "suspect_discarded", "closecontact_dikarantina", "closecontact_discarded", "probable_diisolasi", "probable_discarded", "confirmation_sembuh", "confirmation_meninggal", "suspect_meninggal", "closecontact_meninggal", "probable_meninggal"]
column_result = ['id','province_id','case_id','date','total']

df = df[column]
#df = df[:1]
df = df.melt(id_vars=["tanggal", "kode_prov"], var_name="status", value_name="total").sort_values(["tanggal", "kode_prov", "status"])



df

           tanggal kode_prov                    status  total
33210   2020-08-05        32  closecontact_dikarantina      0
33211   2020-08-05        32  closecontact_dikarantina     72
33212   2020-08-05        32  closecontact_dikarantina    135
33213   2020-08-05        32  closecontact_dikarantina      0
33214   2020-08-05        32  closecontact_dikarantina      3
...            ...       ...                       ...    ...
149440  2022-04-11        32         suspect_meninggal      0
149441  2022-04-11        32         suspect_meninggal      0
149442  2022-04-11        32         suspect_meninggal      0
149443  2022-04-11        32         suspect_meninggal      0
149444  2022-04-11        32         suspect_meninggal      0

[182655 rows x 4 columns]